page-home {

  ion-card {
    ion-badge.question-badge {
      position: absolute;
      right: 35px;
    }

    ion-row {
      ion-col {
        &.title {
          font-weight: bold;
        }
      }
    }

    > ion-card-content ion-row {
      padding-top: 14px;
    }
  }


}
