<!-- Themes  Register-light-->
<ion-content *ngIf="data != null" background-size [ngStyle]="{'background-image': 'url(' + data.backgroundImages + ')'}">
  <ion-grid no-padding>
    <ion-row header align-items-start>
      <ion-col col-10 offset-1 col-md-6 offset-md-3>
        <h2 text-uppercase>{{data.txtResetPassword}}</h2>
        <h1 text-uppercase>{{data.title}}</h1>
      </ion-col>
    </ion-row>
    <!-- Form Content -->
    <ion-row content-form align-items-end>
      <ion-col col-12>
        <form>
          <ion-row>
            <ion-col col-10 offset-1 col-md-6 offset-md-3>
              <!-- Input Username -->
              <ion-item no-padding>
                <ion-input type="email" [placeholder]="data.txtEmail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
                <ion-label text-uppercase>{{data.txtEmail}}</ion-label>
                <ion-label error-field text-uppercase *ngIf="!isEmailValid">{{data.errorEmail}}</ion-label>
              </ion-item>
              <!-- Reset Passwor Button -->
              <ion-row text-center>
                <ion-col col-12>
                  <button no-margin ion-button round text-uppercase (click)="onEvent('onResetPassword')">{{data.btnResetPassword}}</button>
                </ion-col>
              </ion-row>
              <!-- Description -->
              <div description>
                <ion-row text-center>
                  <ion-col col-12>
                    <p no-margin no-padding>{{data.txtDontHaveAccount}} <a (click)="onEvent('onRegister')">{{data.btnSignupNow}}</a></p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
