// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #000000,
  color1:     #66c3b1,
  color2:     #fb7a52,
  color3:     #5e5e5e,
  color4:     #f1f1f1    
);
      
    
$content-padding:16px;
$content-margin:$content-padding;
$control-height:44px;    
$control-radius:4px;         
$grid-padding-width:$content-padding ;
  
// sidemenu
$menu-width:100%;
$menu-small-width:$menu-width;  
// App  Variables 
$mainFont:1.3rem;  
 $appFonts:(h4:$mainFont + .1,h5:$mainFont,p:$mainFont - .1);
 @each $head , $fontSize in $appFonts {
    #{$head}{
      font-size:$fontSize!important;
    } 
 }

 // toolbar variables       
$toolbar-ios-height:50px;           
$toolbar-ios-title-font-size:$mainFont + .1;
$toolbar-ios-title-text-color:color($colors,light);     
$header-background:color($colors,color1);
$toolbar-ios-button-border-radius:0px;
$toolbar-ios-title-text-align:left;        
// input variables      
$text-input-placeholder-color:color($colors,dark);
$text-input-ios-show-focus-highlight:false;

// button variables
$button-ios-font-size:1.3rem;
$button-ios-border-radius:$control-radius;    
$button-ios-height:$control-height;  

// tabs variables
$tabs-ios-tab-icon-color:color($colors,color2);             

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
